<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=About, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img class ="portrait" src="images/CV-Image.jpg">
    <p id='description'>{{description}}</p>
    <p>Checkout my <a href='https://sandeshathreya.myportfolio.com/' target="_blank">Portfolio</a> to know more about me.</p>
    </div>
    {{>footer}}
</body>
</html>